/* Overall Styling */
body {
	margin: 20px;
	padding: 20px 10px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #001f5f;
	background-color: #001f5f;
}
.container {
	padding: 40px 0px;
	width: 80vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fcf9f4;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
h1 {
	margin: 5px;
}
#caption {
	margin: 0;
	font-weight: 400;
	font-size: 20px;
	font-style: italic;
}
.instructions {
	margin-top: 20px;
}
.instructions li {
	padding: 2px;
}
#upload-form {
	margin: 40px;
	margin-bottom: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hidden {
	display: none;
}

/* Top Container Styling */
#applicant-name {
	margin: 0 10px;
	padding: 5px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 4px;
	border: 1px solid darkslategrey;
	background-color: #fcf9f4;
}
.file-upload input[type="file"] {
	display: none;
}
.file-upload {
	margin: 0 10px;
}
#file-upload-label {
	font-size: smaller;
}
.custom-file-upload {
	padding: 5px 10px;
	border: 1px solid #ccc;
	display: inline-block;
	cursor: pointer;
	background-color: #f0f0f0;
	border-radius: 4px;
}
.custom-file-upload:hover {
	background-color: #e0e0e0;
}
#file-count {
	font-size: smaller;
}
.upload-container {
	display: flex;
	align-items: center;
}

/* Bottom Container (File Ordering) Styling */
#bottom-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#file-order-container.hidden {
	display: none;
}
#file-order-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#file-order {
	padding: 0 5px;
}
.file-list li {
	margin: 5px 0;
	padding: 10px;
	background-color: #bfe4ff;
	cursor: move;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	border-radius: 4px;
}
.file-list li:hover {
	background-color: #84bcf1;
}
.file-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 10px;
}
.delete-btn {
	margin-left: 10px;
	padding: 5px 10px;
	display: inline-block;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	vertical-align: middle;
}
.delete-btn:hover {
	background-color: rgb(185, 185, 185);
}

/* Submit Buttons Styling */
#button-container {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-around;
}
.submit-button {
	margin: 0 5px;
	padding: 5px 10px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
	border: 1px solid #ccc;
	cursor: pointer;
	background-color: #f0f0f0;
	border-radius: 4px;
	color: #001f5f;
}
.submit-button:hover {
	background-color: #e0e0e0;
}
#success-message {
	color: #001f5f;
	font-size: 16px;
	font-weight: bold;
}
