<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>STITCH IT!</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='style.css') }}"
		/>
	</head>
	<body>
		<div class="container">
			<h1>STITCH IT!</h1>
			<p id="caption">Seamless Merging, Limitless Possibilities</p>

			<div class="instructions">
				<p>Follow these steps to upload and stitch your files:</p>
				<ol>
					<li>
						Enter the applicant's name in the input box provided. This will be
						used to name the merged file.
					</li>
					<li>
						Click the "Choose Files" button to upload your files (.png, .jpeg,
						.jpg, .pdf). You can upload multiple files at once.
					</li>
					<li>Drag and drop the files to order them.</li>
					<li>Click the "Merge Files" button to stitch your files.</li>
					<li>
						Wait for the processing to be completed; the stitched file will
						automatically be downloaded.
					</li>
				</ol>
			</div>

			<form method="post" enctype="multipart/form-data" id="upload-form">
				<div id="top-container">
					<label for="applicant-name">Applicant Name:</label>
					<input
						type="text"
						id="applicant-name"
						name="applicant-name"
						placeholder="Enter Applicant Name"
						onchange="clearFlashMessages()"
					/><br /><br />

					<div class="upload-container">
						<label for="uploaded-files">Upload Files:</label>
						<div class="file-upload">
							<label
								for="uploaded-files"
								class="custom-file-upload"
								id="file-upload-label"
							>
								Choose Files
							</label>
							<input
								type="file"
								id="uploaded-files"
								name="uploaded-files"
								multiple
								accept=".png,.jpg,.jpeg,.docx,.pdf"
								onchange="updateFileList()"
							/>
						</div>
						<div id="file-count"></div>
					</div>
				</div>

				<br /><br />
				<div id="bottom-container">
					<div id="file-order-container" class="hidden">
						<label for="file-order">Order of Files:</label>
					</div>
					<div class="ordered-files-container">
						<ul id="file-order" class="file-list"></ul>
					</div>
					<input type="hidden" name="ordered-files" id="ordered-files" /><br />

					<div id="button-container">
						<button
							id="merge-button"
							class="submit-button hidden"
							type="button"
							onclick="handleMerge()"
						>
							Merge Files
						</button>
						<button
							id="clear-button"
							class="submit-button hidden"
							type="reset"
							onclick="resetPage()"
						>
							Clear All
						</button>
					</div>
				</div>
			</form>

			<div id="feedback" style="margin-top: 20px"></div>
			<div id="success-message" class="hidden">
				Congratulations, your files have been merged and downloaded!
			</div>

			{% with messages = get_flashed_messages() %} {% if messages %} {% for
			message in messages %}
			<p id="flash-messages">{{ message }}</p>
			{% endfor %} {% endif %} {% endwith %}
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

		<script>
			// Event Listeners
			const applicantNameInput = document.getElementById("applicant-name");
			applicantNameInput.addEventListener("keydown", function (event) {
				if (event.key === "Enter") {
					event.preventDefault(); // Prevent form submission on Enter key
				}
			});

			const orderedFilesInput = document.getElementById("file-order");
			const successMessage = document.getElementById("success-message");
			orderedFilesInput.addEventListener("change", function () {
				successMessage.classList.add("hidden");
			});
			applicantNameInput.addEventListener("change", function () {
				successMessage.classList.add("hidden");
			});

			function updateFileList() {
				const fileInput = document.getElementById("uploaded-files");
				const fileOrderList = document.getElementById("file-order");
				const fileOrderContainer = document.getElementById(
					"file-order-container"
				);
				const mergeButton = document.getElementById("merge-button");
				const clearButton = document.getElementById("clear-button");

				const orderedFilesInput = document.getElementById("ordered-files");

				// Display number of files uploaded
				const countDisplay = document.getElementById("file-count");
				const files = fileInput.files;
				if (files.length === 0) {
					countDisplay.textContent = "";
				} else {
					const outputText =
						files.length === 1 ? " file chosen" : " files chosen";
					countDisplay.textContent = files.length + outputText;
				}
				fileOrderList.innerHTML = "";

				// Only show submit buttons if files have been uploaded
				if (files.length > 0) {
					fileOrderContainer.classList.remove("hidden");
					mergeButton.classList.remove("hidden");
					clearButton.classList.remove("hidden");
				} else {
					fileOrderContainer.classList.add("hidden");
					mergeButton.classList.add("hidden");
					clearButton.classList.add("hidden");
				}

				document.getElementById("success-message").classList.add("hidden");

				// Add delete button for each file
				for (let i = 0; i < fileInput.files.length; i++) {
					const li = document.createElement("li");
					li.textContent = fileInput.files[i].name;

					const deleteBtn = document.createElement("button");
					deleteBtn.textContent = "x";
					deleteBtn.classList.add("delete-btn");
					deleteBtn.onclick = function () {
						fileInput.files = removeFileFromFileList(
							fileInput.files,
							li.textContent.slice(0, -1)
						);

						li.remove();
						updateOrderedFilesInput();

						document.getElementById("success-message").classList.add("hidden");

						// Update file count and hide submit buttons if necessary
						const orderedFilesList =
							document.getElementById("ordered-files").value;

						let numFilesLeft = 0;

						if (orderedFilesList !== "") {
							numFilesLeft = orderedFilesList.split("|||").length;
						}

						const countDisplay = document.getElementById("file-count");
						if (numFilesLeft === 0) {
							countDisplay.textContent = "";
						} else {
							const outputText =
								numFilesLeft === 1 ? " file chosen" : " files chosen";
							countDisplay.textContent = numFilesLeft + outputText;
						}

						if (numFilesLeft === 0) {
							fileOrderContainer.classList.add("hidden");
							mergeButton.classList.add("hidden");
							clearButton.classList.add("hidden");
						}
					};

					li.appendChild(deleteBtn);
					li.setAttribute("data-file", fileInput.files[i].name);
					fileOrderList.appendChild(li);
				}

				Sortable.create(fileOrderList, {
					onUpdate: function () {
						updateOrderedFilesInput();
					},
				});

				updateOrderedFilesInput();
			}

			function removeFileFromFileList(fileList, filename) {
				const dt = new DataTransfer();
				for (let i = 0; i < fileList.length; i++) {
					if (fileList[i].name !== filename) {
						dt.items.add(fileList[i]);
					}
				}
				return dt.files;
			}

			function updateOrderedFilesInput() {
				const fileOrderList = document.getElementById("file-order");
				const orderedFilesInput = document.getElementById("ordered-files");
				const orderedFiles = [];
				for (let i = 0; i < fileOrderList.children.length; i++) {
					orderedFiles.push(
						fileOrderList.children[i].getAttribute("data-file")
					);
				}
				orderedFilesInput.value = orderedFiles.join("|||");
			}

			async function handleMerge() {
				const applicantName = document.getElementById("applicant-name").value;
				const fileInput = document.getElementById("uploaded-files");

				if (!applicantName) {
					alert("Please provide the applicant's name.");
					return;
				}

				if (fileInput.files.length === 0) {
					alert("Please upload at least one file.");
					return;
				}

				const formData = new FormData(document.getElementById("upload-form"));

				document.getElementById("feedback").innerText = "Processing...";
				document.getElementById("success-message").classList.add("hidden");

				try {
					const response = await fetch("/", {
						method: "POST",
						body: formData,
					});

					if (!response.ok) {
						throw new Error("Network response is facing issues");
					}

					const blob = await response.blob();
					const url = window.URL.createObjectURL(blob);
					const a = document.createElement("a");
					a.style.display = "none";
					a.href = url;
					a.download = `${applicantName}.pdf`;
					document.body.appendChild(a);
					a.click();
					window.URL.revokeObjectURL(url);
					document.getElementById("success-message").classList.remove("hidden");
					document.getElementById("feedback").innerText = "";
				} catch (error) {
					alert(
						"There was a problem with your merge request: " + error.message
					);
					document.getElementById("feedback").innerText = "";
				}
			}

			function clearFlashMessages() {
				const flashMessages = document.getElementById("flash-messages");
				if (flashMessages) {
					flashMessages.remove();
				}
			}

			function resetPage() {
				window.location.reload();
			}
		</script>
	</body>
</html>
