<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>STITCH IT!</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='style.css') }}"
		/>
	</head>
	<body>
		<div class="container">
			<h1>STITCH IT!</h1>
			<p id="caption">Seamless Merging, Limitless Possibilities</p>

			<div class="instructions">
				<p>Follow these steps to upload and stitch your files:</p>
				<ol>
					<li>
						Enter the applicant's name in the input box provided. This will be
						used to name the merged file.
					</li>
					<li>
						Click the "Choose Files" button to upload your files (.png, .jpeg,
						.jpg, .docx, .pdf). You can upload multiple files at once.
					</li>
					<li>Drag and drop the files to order them.</li>
					<li>Click the "Merge Files" button to stitch your files.</li>
					<li>
						Wait for the processing to be completed; the stitched file will
						automatically be downloaded.
					</li>
				</ol>
			</div>

			<form method="post" enctype="multipart/form-data" id="upload-form">
				<div id="top-container">
					<label for="applicant-name">Applicant Name:</label>
					<input
						type="text"
						id="applicant-name"
						name="applicant-name"
						placeholder="Enter Applicant Name"
						onchange="clearFlashMessages()"
					/><br /><br />

					<div class="upload-container">
						<label for="uploaded-files">Upload Files:</label>
						<div class="file-upload">
							<label
								for="uploaded-files"
								class="custom-file-upload"
								id="file-upload-label"
							>
								Choose Files
							</label>
							<input
								type="file"
								id="uploaded-files"
								name="uploaded-files"
								multiple
								accept=".png,.jpg,.jpeg,.docx,.pdf"
								onchange="updateFileList()"
							/>
						</div>
						<div id="file-count"></div>
					</div>
				</div>

				<br /><br />
				<div id="bottom-container">
					<div id="file-order-container" class="hidden">
						<label for="file-order">Order of Files:</label>
					</div>
					<div class="ordered-files-container">
						<ul id="file-order" class="file-list"></ul>
					</div>
					<input type="hidden" name="ordered-files" id="ordered-files" /><br />

					<div id="button-container">
						<button
							id="merge-button"
							class="submit-button hidden"
							type="button"
							onclick="handleMerge()"
						>
							Merge Files
						</button>
						<button
							id="clear-button"
							class="submit-button hidden"
							type="reset"
							onclick="resetPage()"
						>
							Clear All
						</button>
					</div>
				</div>
			</form>

			<div id="feedback" style="margin-top: 20px"></div>
			<div id="success-message" class="hidden">
				Congratulations, your files have been merged and downloaded!
			</div>

			{% with messages = get_flashed_messages() %} {% if messages %} {% for
			message in messages %}
			<p id="flash-messages">{{ message }}</p>
			{% endfor %} {% endif %} {% endwith %}
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
		<script src="static/main.js"></script> </body>
		
	</body>
</html>
